.calculatorFrame {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    background-color: #605f5e;
    border-radius: 5px;
    height: 475px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    }



.calcColumn {
    display: flex;
    flex-direction: column;
}

.calcBtn {
    display: flex;
    border: #605f5e solid 2px;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    background-color: #140D4F;
    justify-content: center;
    align-items: center;
    color: #9D8Df1;
    position: relative;
}
.calcBtn:active {
    top: 1px;
}

.numBtn {
    display: flex;
    border: #605f5e solid 2px;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    text-align: center;
    background-color: #e2e2e2;
    justify-content: center;
    align-items: center;
    position: relative;
}

.numBtn:active {
    top: 1px;
}

.displayBox {
    display: flex;
    border: black solid 2px;
    border-radius: 5px;
    width: 308px;
    height: 75px;
    align-items: center;
    justify-content: flex-end;
    background-color: #605f5e;
    font-size: x-large;
    
}

.display {padding: 20px;}